* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(45, 115, 206);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .service-container {
  background-color: white;
  max-width: 100vw;
  height: 90vh;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.4rem;
}
body .service-container .service-card {
  border-radius: 0.4rem;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
body .service-container .service-card img {
  width: 230px;
  height: 250px;
  margin-top: 30px;
  border-radius: 0.4rem;
  box-shadow: 7px 2px 5px -3px rgba(0, 0, 0, 0.1);
}
body .service-container .service-card .card-content {
  padding-top: 50px;
}
body .service-container .service-card .card-content button {
  margin: 10px;
  padding: 10px;
  background-color: rgb(45, 115, 206);
  border: none;
  box-shadow: 7px 22px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  color: white;
  text-transform: uppercase;
}

/* Media Query for Mobile Devices */
/* Media Query for low resolution  Tablets, ipads */
/* Media Query for Tablets ipads portrait mode */
/* Media Query for Laptops and Desktops */
/* Media Query for Large screens */