
$primary-colour: rgb(8, 159, 159);
$secondary-colour: rgb(45, 115, 206);

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{

    width: 100vw;
    height: 100vh;
    
    background-color: $secondary-colour;
    display: flex;
    align-items: center;
    justify-content: center;
   

    .service-container{
        background-color: white;
        max-width: 100vw;
        height: 90vh;
        width: 1200px;
       display: flex;
       align-items: center;
       justify-content: center;
        margin: 0 auto;
        text-align: center;
        border-radius: .4rem;

        .service-card{
           border-radius: .4rem;
           margin: 10px ;
          display: flex;
          flex-direction: column;
          padding-top: 30px;
    
           img{
            width: 230px;
            height:250px;
            margin-top: 30px;
            border-radius: .4rem;
            box-shadow: 7px 2px 5px -3px rgba(0,0,0,0.1);


           }
           .card-content{
            padding-top: 50px;

            button{
                margin: 10px;
                padding: 10px;
                background-color:$secondary-colour ;
                border: none;
                box-shadow: 7px 22px 15px -3px rgba(0,0,0,0.1);
                border-radius: .4rem;
                color: white;
                text-transform: uppercase;
    
    
    
               }
          

           }
         
        }

    }

}
	/* Media Query for Mobile Devices */
    @media (max-width: 480px) {

          
    }
      
    /* Media Query for low resolution  Tablets, ipads */
    // @media  (max-width: 767px) {
    //     .service-card{
    //         height: 100%;
    //         width: 100%;
    //         display: grid;
    //         grid-template-columns: repeat(2,1fr);
    //     }
       
    // }
      
    /* Media Query for Tablets ipads portrait mode */
    @media (min-width: 768px) and (max-width: 1024px){
       
    }
      
    /* Media Query for Laptops and Desktops */
    @media (min-width: 1025px) and (max-width: 1280px){
        
    }
      
    /* Media Query for Large screens */
    @media (min-width: 1281px) {
        
    }
